.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('../public/images/Vaagdevi-Logo.png') no-repeat center center fixed;
  background-size: cover;
  opacity: 0.9; /* Adjust the opacity to make it appear like a watermark */
}

#root {
  height: 100%; /* Ensures that your app takes the full height */
}

.page-container {
  position: relative; /* Ensures content is properly layered over the background */
  z-index: 1;
}
